:root{
    --cream: #F4E3B2;
    --dark_grey: #2E3532;
    --periwinkle: #C4C6E7;
}
body{
  width:60%;
  margin: 1em auto 0 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #0c1d38;
  color: white;
}

nav a{
  padding: 5px 5px 5px 5px;
  border: 2px solid white;
  margin: 5px;
  color: white;
  text-decoration: none;
}

nav a:hover{
  background-color: white;
  color: black;
}

.menu-list{
  width: 30%;
  margin: 0 auto;
  font-size: 3em;
}

.menu-item{
  padding: 5px 5px 5px 15px;
  border: 2px solid white;
  margin: 5px;
  color: white;
}

.menu-item:hover{
  background-color: white;
  color: #0c1d38;
}

.menu-item a{
  text-decoration: none;
  color: inherit;
}
/*
commented out so that when you scroll over index menu items they
are still readable instead of being white text on white background

a:visited{
  color: whitesmoke;
}*/