body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: azure;
    color: #032950;
    font-family: Tahoma;
    font-size: 16px;
  }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }

  .menu-list{
    display: flex;
    font-size: 20px;
    justify-content: center;
  }

  .menu-list a{
    color:#059c35;
    text-decoration: none;
    padding: 15px;
    margin: 5px;
    background-color: aqua;
    border: 5px solid #bbb ;
  }