table,tr,td,th{
    border: 1px solid;
    text-align: left;
}
th, td{
    padding: 5px;
}
table{
    border-collapse: collapse;
    -webkit-box-shadow: 10px 10px 15px 0px rgba(50, 50, 50, 0.50);
    -moz-box-shadow:    10px 10px 15px 0px rgba(50, 50, 50, 0.50);
    box-shadow:         10px 10px 15px 0px rgba(50, 50, 50, 0.50);
}