<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Cubed Project Management">
        <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
        <title>Cubed Project Management</title>
    </head>
    <body>
        <nav>
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('get_projects')}}">View Projects</a>
            <a href="{{url_for('create_project')}}">Create Project</a>
        </nav>
        <h1>Welcome to The Cubed Project Management Application, {{user.first_name}}, We hope you have a great day!</h1>
        <h2>This site is used to manage and organize Tasks and Projects</h2>
        <div class="menu-list">
            <a href="{{url_for('index')}}">Home</a>
            <a href="{{url_for('get_projects')}}">View Projects</a>
            <a href="{{url_for('create_project')}}">Create Project</a>
        </div>
    </body>
</html>