<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Cubed Project Management">
        <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
        <title>Cubed Project Management - New Project</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{{url_for('index')}}">Home</a>
                <a href="{{url_for('get_projects')}}">View Projects</a>
                <a href="{{url_for('create_project')}}">Create Project</a>
            </nav>
            <h1>Welcome to The Cubed Project Management Application, {{user.name}}, We hope you have a great day!</h1>
        </header>
        <main>
            {% if project %} 
            <form action="{{ url_for('edit_project', project_id=project_id) }}" method="post">
            {% else %}
            <form action="new" method="post">
            {% endif %}
           <p><label for="name">Project Name </label></p><p>  <input id='name' type="text" name="name" value="{% if project %}{{project.name}}{% endif %}"/></p>
            <p><label for="projectDesc">Description </label></p><p>
                <textarea id='projectDesc' name="projectDesc"  rows="6" cols="0" placeholder="enter your project description" >{% if project %}{{project.description}}{% endif %}</textarea>
            </p>
            <p><label for="projectMembers">Members (Separate member names by commas)</label></p>
            <p><input type="text" id="projectMembers" name="projectMembers" value='{% if project %}{{",".join(project.members)}}{% endif %}'></p>
            <p>
                {% if project %}
                    <input type="submit" value="Update Project"/>
                {% else %}
                    <input type="submit" value="Add Project">
                {% endif %}
            </p>
        </form>
        </main>
    </body>
</html>