<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Cubed Project Management">
        <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">
        <title>Cubed Project Management - View your Project</title>
    </head>
    <body>
        <header>
            <nav>
                {% if user %}
                <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                <a href="{{ url_for('login') }}">Sign In</a>
                <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
                <a href="{{url_for('index')}}">Home</a>
                <a href="{{url_for('get_projects')}}">View Projects</a>
                <a href="{{url_for('create_project')}}">Create Project</a>
            </nav>
            <h1>Welcome to The Cubed Project Management Application, {{user}}, We hope you have a great day!</h1>
        </header>
        <main>
            <table>
                <tr>
                    <th>Project Name</th>
                    <th>Description</th>
                    <th>Members</th>
                </tr>
                <tr>
                    <td>{{ project.title }}</td>
                    <td>{{ project.description }}</td>
                    <td>
                        <ul>
                            {% for member in project.members.split(',') %}
                            <li>{{member}}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    
                    </form>
                </tr>
            </table>
            
            <fieldset>
                <legend> Tasks: </legend>
                <tr>
                    <form action="{{ url_for('update_tasks', project_id=project.id) }}" method="post">
                  <ol type="I">
                    {% for task in project.tasks %}
                    {% if task.completed == 1 %}
                    <li> {{task.description}} | Completed?: <input type="checkbox" name='task' value="{{task.id}}" checked> </li>
                    {% else %}
                    <li> {{task.description}} | Completed?: <input type="checkbox" name='task' value="{{task.id}}"> </li>
                    {% endif %}
                    {% endfor %}
                  </ol> 
                    <input style='float: right;' type="submit" value="Update Tasks">
                </form> 
                </tr>
            </fieldset>
            {% if project.comments %}
                    {% if project.comments|length > 0 %}
                        <h2>Comments</h2>
                        <ul>
                            {% for comment in project.comments %}
                            <li>{{ comment.comment }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% endif %}
                    <form action="{{ url_for('project_comment', project_id=project.id) }}" method="post">
                        <div class="formwrapper">
                            <!--<h2 class="title">New Comment</h2>-->
                            <div class="form-field">
                                {{ form.comment.label }} <br/> {{ form.comment }} 
                           </div>
                           {{ form.submit }}
                        </div>
                    </form>
        </main>
    </body>
</html>